{%- comment -%}
  Dispatcher for structured data. Add new layout cases here.
{%- endcomment -%}
{% if page.url == '/' or page.url == '/index.html' %}
  {% include jsonld/person.html %}
{% elsif page.layout == 'talk' %}
  {% include jsonld/talk.html %}
  {% include jsonld/breadcrumb.html %}
{% elsif page.layout == 'publication' %}
  {% include jsonld/publication.html %}
  {% include jsonld/breadcrumb.html %}
{% elsif page.layout == 'preprint' %}
  {% include jsonld/preprint.html %}
  {% include jsonld/breadcrumb.html %}
{% endif %}
