{% assign prof = site.data.profile %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ prof.name.full | jsonify }},
  "alternateName": [{{ prof.name.kanji | jsonify }}, {{ prof.name.display | jsonify }}],
  "image": "{{ '/assets/img/face.png' | absolute_url }}",
  "url": "{{ '/' | absolute_url }}",
  "affiliation": {
    "@type": "Organization",
    "name": {{ prof.affiliation.lines[0].en | append: ', ' | append: prof.affiliation.lines[1].en | jsonify }},
    "url": {{ prof.affiliation.url | jsonify }}
  },
  "email": "mailto:{{ prof.email }}",
  "jobTitle": {{ prof.title.en | jsonify }},
  "sameAs": [{% for s in prof.social %}{{ s.url | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]
}
</script>
