{%- assign prof = site.data.profile -%}
{%- comment -%} Detect code repository link {%- endcomment -%}
{%- assign _is_code = false -%}
{%- assign _code_url = '' -%}
{%- if page.links -%}
  {%- for link in page.links -%}
    {%- assign _u = link.url | downcase -%}
    {%- if _u contains 'github.com' or _u contains 'gitlab.com' or _u contains 'huggingface.co' -%}
      {%- assign _is_code = true -%}
      {%- if _code_url == '' -%}{%- assign _code_url = link.url -%}{%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- comment -%} Detect related paper link (arXiv/DOI) {%- endcomment -%}
{%- assign _paper_url = '' -%}
{%- if page.links -%}
  {%- for link in page.links -%}
    {%- assign _u = link.url | downcase -%}
    {%- if _u contains 'arxiv.org' or _u contains 'doi.org' or _u contains 'pubmed' -%}
      {%- if _paper_url == '' -%}{%- assign _paper_url = link.url -%}{%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- assign _img = page.image | default: '/assets/img/face.png' | absolute_url -%}
{%- comment -%} Multi-type: code + research project where applicable {%- endcomment -%}
{%- if _is_code -%}
  {%- assign _types = '["SoftwareSourceCode", "ResearchProject"]' -%}
{%- else -%}
  {%- assign _types = '"CreativeWork"' -%}
{%- endif -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ _types }},
  "name": {{ page.title | jsonify }},
  "url": "{{ page.url | absolute_url }}",
  "image": "{{ _img }}",
  "description": {{ page.description | default: page.title | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "@id": "{{ '/#person' | absolute_url }}",
    "name": {{ prof.name.full | jsonify }}
  },
  "creator": {
    "@type": "Person",
    "@id": "{{ '/#person' | absolute_url }}"
  }{% if _is_code %},
  "codeRepository": {{ _code_url | jsonify }}{% if page.programming_language %},
  "programmingLanguage": {{ page.programming_language | jsonify }}{% endif %}{% endif %}{% if page.tags %},
  "keywords": {{ page.tags | join: ', ' | jsonify }}{% endif %}{% if _paper_url != '' %},
  "subjectOf": {
    "@type": "ScholarlyArticle",
    "url": {{ _paper_url | jsonify }}
  }{% endif %}{% if page.funder %},
  "funder": {
    "@type": "Organization",
    "name": {{ page.funder | jsonify }}
  }{% endif %}
}
</script>
