<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
  {% include head.html %}
</head>

<body>
  <a href="#content" class="skip-link">Skip to content</a>
  <div class="wrapper" id="content">

    {% include header.html %}

    <main class="content">
      {{ content }}
    </main>

    <div class="page-top" id="js-page-top">
      <span class="material-icons-outlined">expand_less</span>
    </div>

    {% include footer.html %}

  </div>

  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>

</html>
